.btn {
  border-radius: 4px;
  height: 38px;
  background-color: transparent;
  color: #B3B3B3;
  box-shadow: none;
  border: 1px solid #FF1744;
  font-weight: 700;
  font-size: 0.813em;
  text-transform: uppercase;
  margin-bottom: 15px;
  line-height: 20px !important;
  padding: 7px 30px 5px 30px;
  transition: 300ms;
}
.btn i {
  font-size: 18px;
}
.btn.has-icon {
  padding: 6px 15px;
}
.btn:focus {
  color: #FF1744;
}
@media only screen and (max-width: 570px) {
  .btn {
    width: 100%;
  }
}
.btn.loading {
  color: rgba(255,255,255,0);
}
.btn:hover {
  border: 1px solid #FF1744;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  color: #FF1744;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(255,255,255,0.05);
}
.btn.btn-primary {
  background-color: #FF1744;
  color: #FFFFFF;
}
.btn.btn-primary[disabled="disabled"] {
  border: none;
  background-color: #131313;
  opacity: 0.2;
}
.btn.btn-primary:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.actions .btn {
  margin-right: 15px;
}
