.btn {
  border-radius: 30px;
  height: 38px;
  background-color: transparent;
  color: #B3B3B3;
  box-shadow: none;
  border: 1px solid #FF1744;
  font-weight: 700;
  font-size: 0.813em;
  text-transform: uppercase;
  min-width: 130px;
  transition: 300ms;
}
.btn:hover {
  border: 1px solid #FF1744;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  color: #B3B3B3;
  background-color: rgba(255,255,255,0.05);
}
.btn.btn-primary {
  background-color: #FF1744;
  color: #FFFFFF;
}
.btn.btn-primary:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
