label {
  font-weight: 400;
}
.form-control {
  height: auto;
}
form + p.message {
  font-size: 0.8em;
  padding-left: 20px;
  margin-top: -10px;
}
form + p.message.success {
  color: #00E676;
}
form + p.message.error {
  color: #FF1744;
}
form .file-upload-default {
  border-radius: 30px;
  border: 1px solid #3B3B3B;
  display: flex;
  padding: 10px 20px 0px 20px;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 420px) {
  form .file-upload-default input[type="file"] {
    font-size: 10px;
  }
}
.form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 10px;
}
@media only screen and (max-width: 420px) {
  .form-group {
    width: 90%;
  }
}
.form-group:not(:last-child) {
  padding-bottom: 20px;
}
.form-group.focus > label {
  top: 4px;
  font-size: 10px;
  opacity: .5;
}
.form-group > label {
  position: absolute;
  left: 20px;
  top: 10px;
  transition: 300ms;
}
.form-group > label+select.form-control {
  top: 2.5em;
  position: relative;
  margin: 2em 0;
}
.form-group small {
  font-size: 11px;
  margin-top: 2px;
  opacity: .6;
  position: relative;
  left: 20px;
}
.form-group .error-message {
  margin: 4px 0;
}
.form-group input[type="text"],
.form-group input[type="password"],
.form-group textarea,
.form-group .bootstrap-tagsinput,
.form-group .chosen-container,
.form-group select {
  padding: 14px 20px 6px 20px;
  line-height: 24px;
  background: transparent;
  border: 1px solid #3B3B3B;
  box-shadow: none;
  border-radius: 100px;
  transition: 300ms;
  color: #FFFFFF;
}
@media only screen and (max-width: 420px) {
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group textarea,
  .form-group .bootstrap-tagsinput,
  .form-group .chosen-container,
  .form-group select {
    width: 100%;
  }
}
.form-group input[type="text"]:focus,
.form-group input[type="password"]:focus,
.form-group textarea:focus,
.form-group .bootstrap-tagsinput:focus,
.form-group .chosen-container:focus,
.form-group select:focus {
  box-shadow: none;
  outline: none;
  border-color: #FF1744;
}
.form-group.select label {
  left: 0;
  top: 0;
}
.form-group.select select {
  padding-top: 12px;
  padding-bottom: 12px;
}
.multiselect label {
  display: none;
}
.form-group > .chosen-container {
  padding: 10px 20px 10px 20px;
}
.form-group .chosen-container {
  font-family: inherit !important;
}
.form-group .chosen-container .chosen-drop {
  background-color: #3B3B3B;
  border: none;
  width: 80%;
}
.form-group .chosen-container .chosen-drop .chosen-results {
  background-color: #3B3B3B;
}
.form-group .chosen-container .chosen-drop .active-result {
  color: #FFFFFF;
}
.form-group .chosen-container .chosen-drop .active-result.highlighted {
  background-image: none;
  background-color: #FF1744;
}
.form-group .chosen-container .chosen-drop .result-selected {
  color: #FFFFFF;
  opacity: .5;
}
.form-group .chosen-container .chosen-choices {
  background: transparent;
  border: none;
}
.form-group .chosen-container .chosen-choices input.chosen-search-input {
  font-family: "Exo 2", Arial, "sans-serif" !important;
}
.form-group .chosen-container .chosen-choices li.search-choice {
  background-color: #3B3B3B;
  color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  border: 1px solid #222222;
}
.form-group.select.contains-chosen label {
  display: none;
}
.form-group.select.contains-chosen .chosen-container-single .chosen-single {
  background: none;
  border: none;
  box-shadow: none;
}
h2 + form {
  margin-top: 20px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: 5000s ease-in-out 0s;
}
