body.theme-dark nav li a:hover {
  color: #fcfcfc;
}
body.theme-light nav li a:hover {
  color: #c9c9c9;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #1A1A1A;
  -webkit-backface-visibility: hidden;
}
header + .content {
  margin-top: 70px;
}
.content > .subnavigation {
  background-color: #1A1A1A;
}
@media only screen and (max-width: 570px) {
  .content > .subnavigation {
    height: auto;
  }
  .content > .subnavigation nav {
    width: 100%;
  }
  .content > .subnavigation nav ul {
    width: 100%;
    flex-direction: column;
  }
  .content > .subnavigation nav ul li {
    line-height: 30px;
    width: 100%;
  }
  .content > .subnavigation nav ul li.active:after {
    bottom: 0;
  }
}
header,
footer,
.subnavigation {
  height: 70px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-bottom: 1px solid #2d2d2d;
}
@media only screen and (max-width: 1024px) {
  header .main-navigation,
  footer .main-navigation,
  .subnavigation .main-navigation {
    display: none;
  }
}
@media only screen and (max-width: 570px) {
  header,
  footer,
  .subnavigation {
    height: 60px;
  }
  header .wrapper,
  footer .wrapper,
  .subnavigation .wrapper {
    margin: 0;
  }
  header .logo,
  footer .logo,
  .subnavigation .logo {
    width: 90px;
  }
  header .userarea .btn,
  footer .userarea .btn,
  .subnavigation .userarea .btn {
    min-width: 100px;
    margin-bottom: 0;
  }
  header .userarea #login-form,
  footer .userarea #login-form,
  .subnavigation .userarea #login-form {
    left: 0;
    right: 0;
    position: fixed;
    width: 100%;
    top: 59px;
    border-left: 0;
    border-right: 0;
  }
}
header .wrapper,
footer .wrapper,
.subnavigation .wrapper {
  height: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}
header .wrapper .more-navigation,
footer .wrapper .more-navigation,
.subnavigation .wrapper .more-navigation {
  cursor: pointer;
  height: 69px;
  width: 69px;
  border-right: 1px solid #2d2d2d;
  display: block;
  text-align: center;
}
header .wrapper .more-navigation:hover i,
footer .wrapper .more-navigation:hover i,
.subnavigation .wrapper .more-navigation:hover i {
  color: #FF1744;
}
header .wrapper .more-navigation i,
footer .wrapper .more-navigation i,
.subnavigation .wrapper .more-navigation i {
  transition: 300ms;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 69px;
}
header .wrapper .userarea,
footer .wrapper .userarea,
.subnavigation .wrapper .userarea {
  border-left: 1px solid #2d2d2d;
  border-right: 1px solid #2d2d2d;
}
header .wrapper .userarea .loggedin-as,
footer .wrapper .userarea .loggedin-as,
.subnavigation .wrapper .userarea .loggedin-as {
  padding-right: 20px;
}
header .wrapper .userarea button,
footer .wrapper .userarea button,
.subnavigation .wrapper .userarea button {
  border: none;
  padding: 0 30px;
  margin-bottom: 0;
  color: #FFFFFF;
}
header .wrapper .userarea button:hover,
header .wrapper .userarea button:focus,
footer .wrapper .userarea button:hover,
footer .wrapper .userarea button:focus,
.subnavigation .wrapper .userarea button:hover,
.subnavigation .wrapper .userarea button:focus {
  background-color: transparent;
  color: #FF1744;
  box-shadow: none;
}
header .wrapper .left,
footer .wrapper .left,
.subnavigation .wrapper .left {
  display: flex;
}
header .wrapper .right,
footer .wrapper .right,
.subnavigation .wrapper .right {
  display: flex;
  align-items: center;
}
header .wrapper .right i.icon,
footer .wrapper .right i.icon,
.subnavigation .wrapper .right i.icon {
  color: #F2F2F2;
  font-size: 20px;
  margin-right: 20px;
  margin-left: 20px;
  transition: 300ms;
  position: relative;
  top: 0;
}
header .wrapper .right .userarea .user-info,
footer .wrapper .right .userarea .user-info,
.subnavigation .wrapper .right .userarea .user-info {
  border-left: 1px solid #2d2d2d;
  cursor: pointer;
  display: flex;
  height: 100%;
}
header .wrapper .right .userarea .user-nav ul,
footer .wrapper .right .userarea .user-nav ul,
.subnavigation .wrapper .right .userarea .user-nav ul {
  display: flex;
  flex-flow: column;
}
header .wrapper .right .userarea .user-nav ul li,
footer .wrapper .right .userarea .user-nav ul li,
.subnavigation .wrapper .right .userarea .user-nav ul li {
  line-height: 60px;
  border-bottom: 1px solid #464646;
  font-size: 0.875em;
}
@media only screen and (max-width: 570px) {
  header .wrapper .right .userarea .user-nav ul li,
  footer .wrapper .right .userarea .user-nav ul li,
  .subnavigation .wrapper .right .userarea .user-nav ul li {
    line-height: 40px;
  }
}
header .wrapper .right .userarea .user-nav ul li:last-child,
footer .wrapper .right .userarea .user-nav ul li:last-child,
.subnavigation .wrapper .right .userarea .user-nav ul li:last-child {
  border-bottom: none;
}
header .wrapper .right .userarea:hover i.icon,
footer .wrapper .right .userarea:hover i.icon,
.subnavigation .wrapper .right .userarea:hover i.icon {
  color: #FF1744;
}
header .wrapper .right > div,
footer .wrapper .right > div,
.subnavigation .wrapper .right > div {
  height: 100%;
  display: flex;
  align-items: center;
}
header .logo,
footer .logo,
.subnavigation .logo {
  display: flex;
  height: 100%;
  vertical-align: middle;
  margin-right: 50px;
}
header .logo img,
footer .logo img,
.subnavigation .logo img {
  transition: 300ms;
  transform-origin: left center;
}
header .logo:hover img,
footer .logo:hover img,
.subnavigation .logo:hover img {
  transform: scale(1.05);
}
header nav ul,
footer nav ul,
.subnavigation nav ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
}
header nav ul li,
footer nav ul li,
.subnavigation nav ul li {
  line-height: 70px;
  margin-right: 30px;
  position: relative;
}
header nav ul li.active:after,
footer nav ul li.active:after,
.subnavigation nav ul li.active:after {
  animation: widthIn;
  animation-delay: 500ms;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.0,0.0,0.2,1);
  height: 2px;
  width: 0%;
  background-color: #FF1744;
  content: '';
  display: block;
  position: absolute;
  bottom: 15px;
}
header nav ul li a,
footer nav ul li a,
.subnavigation nav ul li a {
  color: #E2E2E2;
  transition: 300ms;
  font-size: 0.938em;
}
header nav ul li a:focus,
footer nav ul li a:focus,
.subnavigation nav ul li a:focus {
  color: #00E676;
  text-decoration: none;
}
header nav ul li a:hover,
footer nav ul li a:hover,
.subnavigation nav ul li a:hover {
  text-decoration: none;
}
footer {
  border-bottom: none;
  box-shadow: none;
  background-color: #131313;
  margin-top: 100px;
}
footer .wrapper .row {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subnavigation {
  position: relative;
  z-index: 5;
}
#slidein-overlay nav.main-navigation {
  display: none;
}
@media only screen and (max-width: 1025px) {
  #slidein-overlay nav.main-navigation {
    display: block;
  }
  header .wrapper .main-navigation {
    display: none;
  }
  header .wrapper {
    padding-right: 0;
  }
  header .wrapper a.more-navigation {
    border-right: none;
  }
}
nav.more-navigation ul,
#slidein-overlay nav.main-navigation ul {
  list-style: none;
}
nav.more-navigation ul li,
#slidein-overlay nav.main-navigation ul li {
  line-height: 50px;
  border-bottom: 1px solid #2d2d2d;
}
nav.more-navigation ul li:last-child,
#slidein-overlay nav.main-navigation ul li:last-child {
  border-bottom: none;
}
nav.more-navigation ul li a,
#slidein-overlay nav.main-navigation ul li a {
  color: #FFFFFF;
}
nav.more-navigation ul li a:hover,
#slidein-overlay nav.main-navigation ul li a:hover {
  color: #FF1744;
}
