.listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listing .listing-item {
  width: 32%;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .listing .listing-item {
    width: 48%;
  }
}
@media only screen and (max-width: 450px) {
  .listing .listing-item {
    width: 100%;
  }
}
.listing .listing-item img {
  max-width: 100%;
}
