body {
  background-color: #1A1A1A;
  font-family: "Exo 2", Arial, "sans-serif";
  color: #FFFFFF;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
body .content,
body header {
  transition: 300ms;
}
body.overlay-open > .content,
body.overlay-open > header {
  opacity: 0.3;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}
body > .content {
  min-height: 800px;
}
.wrapper,
.wrapped {
  max-width: 1180px;
  margin: 0 auto;
}
.wrapper.smaller,
.wrapped.smaller {
  max-width: 760px;
}
.boxed {
  margin-top: 100px;
}
*::-moz-focus-inner {
  border: 0 !important;
}
*:focus {
  outline: none !important;
}
a {
  color: #FF1744;
  transition: 300ms;
}
a:hover,
a:focus,
a:active {
  color: #F2F2F2;
  text-decoration: none;
}
a.block {
  display: block;
}
p {
  max-width: 640px;
}
h1 {
  font-size: 2.250em;
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 70px;
}
.actions {
  margin-top: 20px;
}
.lead {
  font-size: 1.438em;
}
h2 {
  font-size: 1.813em;
  font-weight: bold;
}
h3,
p.feddow,
.facts-block .main {
  font-size: 1.313em;
  color: #F2F2F2;
  font-weight: 700;
  margin-bottom: 25px;
}
h1 a,
h2 a,
h3 a {
  color: #FFFFFF;
}
h1 a:active,
h1 a:hover,
h1 a:focus,
h2 a:active,
h2 a:hover,
h2 a:focus,
h3 a:active,
h3 a:hover,
h3 a:focus {
  color: #FF1744;
  text-decoration: none;
}
.page-header {
  border-bottom: none;
}
.page-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cta-light {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.813em;
}
p.discreet,
.facts-block .before,
.seatplan .legend .amount,
.seatplan .legend .legend-entry .label,
small {
  color: #FFFFFF;
  font-weight: normal;
  opacity: 0.85;
  margin: 0;
  padding: 0;
  font-size: 0.875em;
}
p.discreet + h1,
p.discreet + h2,
p.discreet + h3,
.facts-block .before + h1,
.facts-block .before + h2,
.facts-block .before + h3,
.seatplan .legend .amount + h1,
.seatplan .legend .amount + h2,
.seatplan .legend .amount + h3,
.seatplan .legend .legend-entry .label + h1,
.seatplan .legend .legend-entry .label + h2,
.seatplan .legend .legend-entry .label + h3,
small + h1,
small + h2,
small + h3 {
  margin-top: 0;
}
.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1000ms cubic-bezier(0.19,1,0.22,1);
}
.reveal.in {
  opacity: 1;
  transform: translateY(0px);
}
.icon-circle {
  display: flex;
  width: 56px;
  height: 56px;
  border: 1px solid #333333;
  border-radius: 28px;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.icon-circle:focus {
  outline: none;
  text-decoration: none;
  border-color: #767676;
}
.icon-circle:hover {
  border-color: #767676;
}
.icon-circle:hover:before {
  color: #FF1744;
}
.icon-circle:before {
  transition: 300ms;
  font-size: 24px;
  color: #767676;
}
@keyframes heightIn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes widthIn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.compact-infobox {
  background-color: #212121;
}
.compact-infobox:hover .icon-container .icon {
  opacity: 1;
}
.compact-infobox .icon-container .icon {
  transition: 300ms;
  opacity: .5;
  color: #F2F2F2;
  font-size: 24px;
  text-align: center;
  margin-top: 14px;
}
.compact-infobox .icon-container .icon.highlight {
  color: #00E676;
}
.compact-infobox .icon-container,
.compact-infobox .avatar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.status {
  border: 1px solid #3B3B3B;
  border-radius: 50px;
  text-transform: uppercase;
  color: #F2F2F2;
  text-align: center;
  padding: 10px 25px;
  font-weight: 700;
  font-size: 0.813em;
  opacity: 0.7;
}
