.btn {
    border-radius: 30px;
    height: 38px;
    background-color: transparent;
    color: @cta-color;
    box-shadow: none;
    border: 1px solid @color-primary;
    font-weight: 700;
    font-size: 0.813em;
    text-transform: uppercase;
    margin-bottom: 15px;

    i {
        font-size: 18px;
    }

    &.has-icon {
        padding: 6px 15px;
    }

    &:focus {
        color: @color-primary;
    }

    @media only screen and (max-width: 420px) {
        width: 100%;
    }

    line-height: 20px !important;
    padding: 6px 30px;

    transition: 300ms;

    &.loading {
        color: rgba(255, 255, 255, 0);
    }

    &:hover {
        border: 1px solid @color-primary;
        box-shadow: @box-shadow;
        color: @cta-color;
        background-color: rgba(255, 255, 255, 0.05)
    }

    &.btn-primary {
        background-color: @color-primary;
        color: @color-text-main;

        &:hover {
            box-shadow: @box-shadow;
        } 
    }
}

.actions .btn {
    margin-right: 15px;
}