.btn {
    border-radius: 4px;
    height: 38px;
    background-color: transparent;
    color: @cta-color;
    box-shadow: none;
    border: 1px solid @color-primary;
    font-weight: 700;
    font-size: 0.813em;
    text-transform: uppercase;
    margin-bottom: 15px;
    line-height: 20px !important;
    padding: 7px 30px 5px 30px;
    transition: 300ms;

    i {
        font-size: 18px;
    }

    &.has-icon {
        padding: 6px 15px;
    }

    &:focus {
        color: @color-primary;
    }

    @media only screen and (max-width: 570px) {
        width: 100%;
    }

    &.loading {
        color: rgba(255, 255, 255, 0);
    }

    &:hover {
        border: 1px solid @color-primary;
        box-shadow: @box-shadow;
        color: @color-primary;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0.05)
    }

    &.btn-primary {
        background-color: @color-primary;
        color: @color-text-main;

        &[disabled="disabled"] {
            border:none;
            background-color: @color-bg-darker;
            opacity: 0.2;
        }

        &:hover {
            box-shadow: @box-shadow;
        } 
    }
}

.actions .btn {
    margin-right: 15px;
}