.forge-news-disturber {
    > .row {
        .image {
            display: flex;
            align-items: center;
        }
        img {
            width: 32px;
        }
        &:hover {
            box-shadow: @box-shadow;
        }
        background-color: @color-primary;
        * {
            color: @color-text-main;
        }
    }
}

.forge-news-teaser-big {

    h1 {
        margin-top: 0;
    }
    h1, .text, .actions {
        padding: 0 30px 0 40px;
    }

    .text {
        margin-bottom: 70px;
    }

    &.reveal.in .row:before {
        height: 100%;
    }

    img {
        box-shadow: @box-shadow;
    }

    .row {
        position: relative;
        display: flex;
        align-items: stretch;

        .actions {
            position: absolute;
            bottom: 0;

            .btn {
                margin-right: 10px;
            }
        }

        &:before {
            position: absolute;
            left: 0;
            height: 0%;
            width: 2px;
            -webkit-transition: all 8000ms cubic-bezier(0.23, 1, 0.32, 1);
            transition:         all 8000ms cubic-bezier(0.23, 1, 0.32, 1);
            content: '';
            background-color: @color-primary;
        }
    }
}

.forge-events-block {
    margin-top: 150px;

    &:not(.in) {
        .bar {
            width: 0% !important;
        }
    }
}

.forge-events-block .forge-progress,
.forge-progress {
    .bar-bg {
        background-color: @color-grey-light;
        height: 2px;

        .bar {
            -webkit-transition: all 4000ms cubic-bezier(0.23, 1, 0.32, 1);
            transition:         all 4000ms cubic-bezier(0.23, 1, 0.32, 1);
            background-color: @color-primary;
            height: 2px;
        }
    }
}

.forge-sponsors {
    margin-top: 120px;

    &.small {
        .listing {
            flex-wrap: wrap;

            .listing-item {
                display: flex;
                min-width: 30%;
                margin-bottom: 20px;

                &:hover {
                    .image img {
                        width: 60px;
                    }
                }

                .image {
                    width: 120px;
                    height: 70px;

                    img {
                        width: 50px;
                    }
                }

                .additional {
                    padding-left: 20px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    h3 {
                        margin-top: 0;
                    }
                }
            }
        } 
    }

    &.reveal.in h2:after {
        width: 220px;
    }

    h2 {
        &:empty {
            display: none;
        }

        margin-bottom: 30px;
        display: flex;
        align-items: center;

        &:after {
            height: 2px;
            width: 0px;
            background-color: @color-primary;
            content: '';
            display: block;
            margin-left: 20px;
            margin-top: 10px;
            -webkit-transition: all 8000ms cubic-bezier(0.23, 1, 0.32, 1);
            transition:         all 8000ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    .listing {
        display: flex;
        justify-content: space-between;

        .discreet {
            color: @color-text-main;
        }

        .listing-item {
            width: 23%;

            &:hover {
                .image img {
                    width: 140px;
                }
            }

            .image {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 160px;
                background-color: @color-grey-light;
                img {
                    transition: 300ms;
                    width: 120px;
                }
            }

            h3 {
                margin-top: 10px;
                margin-bottom: 0;
            }
        }
    }
}

.component-listing.forge-tournaments.teaser-listing {
    margin-top: 100px;
    margin-bottom: 30px;

    &.small .listing {
        .listing-item {
            display: flex;

            .image {
                background-color: @color-bg-lighter;
                width: 120px;
                height: 70px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 50px;
                    justify-content: center;
                    align-items: middle;
                }

                .cover {
                    display: none;
                }
            }

            .text {
                position: static;
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 0;

                &:before {
                    display: none;
                }
            }
        }
    }

    .listing {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        margin-top: 20px;
        margin-left: -2%;

        .listing-item {
            min-width: 48%;
            max-width: 48%;
            margin-bottom: 25px;
            margin-left: 2%;
            position: relative;

            &.reveal.in .text:before {
                height: 100%;
            }

            &:hover {
                .image .cover {
                    opacity: .2;
                }

                .text:before {
                    width: 4px;
                }
            }

            .text {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 5;
                padding-left: 60px;
                margin-bottom: 30px;

                &:before {
                    position: absolute;
                    bottom: -2px;
                    left: 30px;
                    width: 2px;
                    height: 400%;
                    background-color: @color-primary;
                    content: '';
                    transition: 300ms;
                    -webkit-transition: all 2000ms cubic-bezier(0.23, 1, 0.32, 1);
                    transition:         all 2000ms cubic-bezier(0.23, 1, 0.32, 1);
                }

                h3 {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                .discreet {
                    color: @color-text-main;
                }
            }

            .image {
                .cover {
                    transition: 300ms;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.5+69,0.65+100 */
                    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 69%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
                    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 69%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
                    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 69%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
                }
            }
        }
    }
}

.news-teaser {
    margin-top: 80px;
    h2 {
        margin-bottom: 30px;
        display: flex;
        align-items: center;

        &.reveal.in:after {
            width: 220px;
        }

        &:after {
            height: 2px;
            width: 0px;
            background-color: @color-primary;
            content: '';
            display: block;
            margin-left: 20px;
            margin-top: 10px;
            -webkit-transition: all 8000ms cubic-bezier(0.23, 1, 0.32, 1);
            transition:         all 8000ms cubic-bezier(0.23, 1, 0.32, 1);
        }
    }

    .blocks .col-lg-12 {
        display: flex;
        justify-content: space-between;

        .block {
            .date {
                display: none;
            }
            h3 {
                min-height: 50px;
                margin-bottom: 10px;
            }
            p {
                color: @color-text-lighter;
            }
            width: 30%;
        }
    }
}

.component.about-block {
    margin-top: 100px;
    background-color: @color-bg-lighter;
    padding: 90px 0;

    h2  {
        margin-top: 0;

        + p {
            margin-bottom: 50px;

            + .row {
                margin-bottom: 30px;
            }
        }
    }

    .forge-mailchimp-form {
        form {
            display: flex;

            input[type="text"] {
                width: 270px;
                margin-right: 10px;
                padding: 10px 20px 8px 20px;
            }

            .btn {
                height: 40px;
            }
        }
    }

    ul.medias {
        padding-left: 0;
        list-style: none;
        display: flex;

        li {
            margin-right: 10px;
        }
    }
}

.text-content {
    margin-top: 70px;
    max-width: 760px;
}


