@header-height: 70px;

body.theme-dark {
    nav li a:hover {
        color: lighten(@nav-color, 10%);
    }
}

body.theme-light {
    nav li a:hover {
        color: darken(@nav-color, 10%);
    }
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: @color-bg;

    + .content {
        padding-top: 40px;
    }
}

header, footer, .subnavigation {
    height: @header-height;
    box-shadow: @box-shadow;
    border-bottom: 1px solid @header-border-color;

    @media only screen and (max-width: 1024px) {
        .main-navigation {
            display: none;
        }
    }

    @media only screen and (max-width: 375px) {
        height: 60px;

        .wrapper {
            margin: 0;
        }

        .logo {
            width: 90px;
        }

        .userarea {
            .btn {
                min-width: 100px;
            }
            #login-form {
                left: 0;
                right: 0;
                position: fixed;
                width: 100%;
                top: 59px;
                border-left: 0;
                border-right: 0;
            }
        }
    }

    .wrapper {
        height: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;

        .more-navigation {
            cursor: pointer;
            height: 69px;
            width: 69px;
            border-right: 1px solid @header-border-color;
            display: flex;
            justify-content: center;
            align-items: middle;

            &:hover {
                i {
                    color: @color-primary;
                }
            }

            i {
                transition: 300ms;
                color: @color-text-main;
                font-size: 20px;
                line-height: 69px;
            }
        }

        .userarea {
            border-left: 1px solid @header-border-color;
            border-right: 1px solid  @header-border-color;

            .loggedin-as {
                padding-right: 20px;
            }

            button {
                border: none;
                padding: 0;
                color: @color-text-main;

                &:hover {
                    background-color: transparent;
                    color: @color-primary;
                    box-shadow: none;
                }
            }
        }

        .left {
            display: flex;
        }

        .right {
            display: flex;
            align-items: center;

            i.icon {
                color: @color-text-lighter;
                font-size: 20px;
                margin-right: 20px;
                margin-left: 20px;
                transition: 300ms;
                position: relative;
                top: 0;
            }
            .userarea {
                .user-info {
                    border-left: 1px solid @header-border-color;
                    cursor: pointer;
                    display: flex;
                    height: 100%;
                }

                .user-nav {
                    ul {
                        display: flex;
                        flex-flow: column;

                        li {
                            line-height: 60px;
                            border-bottom: 1px solid @color-gray;
                            font-size: 0.875em;

                            &:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

                &:hover {
                    i.icon {
                        color: @color-primary;
                    }
                }
            }

            > div {
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
    }

    .logo {
        display: flex;
        height: 100%;
        vertical-align: middle;
        margin-right: 50px;

        img {
            transition: 300ms;
            transform-origin: left center;
        }

        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    nav {
        ul {
            list-style-type: none;
            padding-left: 0;
            display: flex;

            li {
                line-height: @header-height;
                margin-right: 30px;
                position: relative;

                &.active {
                    &:after {
                        animation: widthIn;
                        animation-delay: 500ms;
                        animation-duration: 500ms;
                        animation-iteration-count: 1;
                        animation-fill-mode: both;
                        animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
                        height: 2px;
                        width: 0%;
                        background-color: @color-primary;
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 15px;
                    }
                }

                a {
                    color: @nav-color;
                    transition: 300ms;
                    font-size: 0.938em;

                    &:focus {
                        color: @color-secondary;
                        text-decoration: none;
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
footer {
    border-bottom: none;
    box-shadow: none;
    background-color: @color-bg-darker;
    margin-top: 100px;

    .wrapper .row {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.subnavigation {
    margin-top: 30px;
    position: relative;
    z-index: 5;
}

#slidein-overlay nav.main-navigation {
    display: none;
}

@media only screen and (max-width: 1025px) {

    #slidein-overlay nav.main-navigation {
        display: block;
    }
    header .wrapper .main-navigation {
        display: none;
    }

    header .wrapper {
        padding-right: 0;

        a.more-navigation {
            border-right: none;
        }
    }
}

nav.more-navigation, #slidein-overlay nav.main-navigation {
    ul {
        list-style: none;

        li {
            line-height: 50px;
            border-bottom: 1px solid @header-border-color;

            &:last-child {
                border-bottom: none;
            }

            a {
                color: @color-text-main;

                &:hover {
                    color: @color-primary;
                }
            }
        }
    }
}
