.component-productlist {
    margin-top: 60px;

    .items {
        display: flex;
        flex-direction: column;

        .product-card {
            background-color: transparent;
            display: flex;
            padding: 0;
            padding-bottom: 8px;
            margin-bottom: 8px;
            box-shadow: none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);

            h3 {
                margin-top: 0;
                margin-bottom: 0;
            }

            .info-panel {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                .info {
                    display: flex;
                    flex-direction: column;

                    h3 {
                        margin: 0;
                    }
                }


                .actions {
                    display: flex;
                    align-items: center;

                    .price {
                        margin-right: 2rem;
                        font-weight: 600;
                        color: white;
                    }

                    .add-to-cart {
                        background-color: transparent;
                    }
                }
            }

            .image-container {
                width: 120px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 2rem;
                overflow: hidden;
                border-radius: 4px;

                .image {
                    width: 120px;
                    height: 80px;
                    background-size: cover;
                }
            }
        }
    }
}

#shopping-cart {
    .entry {
        margin-bottom: 0;
        > * {
            line-height: 40px;
            margin: 0;
        }
    }

    h4 {
        font-weight: 600;
        font-size: 15px;
    }

    .actions {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;

        a {
            color: @color-bg-darker;
        }
        a.payment-trigger {
            margin-right: 0;
        }
    }
}

.pay-panel {
    .tab-content .actions {
        position: relative;
        &:before {
            left: auto;
            right: 0;
        }
    }

    .form-group input[type="text"], .form-group input[type="password"], .form-group textarea, .form-group .bootstrap-tagsinput, .form-group .chosen-container, .form-group select {
        border-radius: 2px;
        border: 1px solid @cta-color;
        transition: 200ms;

        &:focus {
            border: 1px solid @color-bg;
        }
    }

    .form-group:not(.select):not(.checkbox) {
        position: relative;
        label {
            position: absolute !important;
            pointer-events: none;
        }
    }

    .form-group > label+select.form-control {
        margin: 0;
        top: 0;
    }

    h3 {
        font-size: 16px;
        font-weight: 600;
        color: #333;
    }

    hr {
        border-bottom-color: #F2F2F2;
    }

    .form-group.checkbox {
        label.control-label {
            padding-left: 0;
            position: relative;
            width: 50%;
            position: static;
        }
        input[type="checkbox"] {
            width: auto;
        }
    }

}

#payment-overlay.delivery .form-group.checkbox input {
    position: relative;
    float: left;
    top: 14px;
    width: auto;
}

#payment-overlay.delivery .form-group.checkbox label.control-label {
    padding-left: 20px;
}

.product-detail {
    padding-top: 60px;

    .price-info {
        small {
            text-transform: uppercase;
            opacity: 0.6;
            font-size: 11px;
        }
        .price {
            font-weight: 600;
            font-size: 17px;
        }
    }
}
.add-to-cart-group {
    position: relative;
}
.add-to-cart-group:not(.with-amount) {
    position: static;

    .add-to-cart-message {
        transition: 200ms;
    }
    .add-to-cart-message.visible {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: @color-primary;
        padding: 10px;
        text-transform: uppercase;
        color: white;
        font-weight: 600;
        text-align: center;
        font-size: 13px;
    }
}
.add-to-cart-group.with-amount {
    margin-top: 40px;
    display: flex;

    .add-to-cart-message {
        line-height: 46px;
        opacity: 0.8;
        font-size: 12px;
    }

    label {
        z-index: 6;
    }
    input {
        position: relative;
        z-index: 5;
        background-color: @color-bg;
    }

    button.add-to-cart {
        height: 46px;
        background-color: @color-primary;
        border: none;
        position: relative;
        z-index: 4;
        left: -25px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        padding-left: 40px;
        transition: 200ms;
        svg {
            fill: white;
        }
    }

}

#payment-overlay.delivery .form-group.checkbox small {
    line-height: inherit;
    padding-left: 0;
    position: relative;
    left: 35px;
    top: -10px;
}