<!DOCTYPE html>
<html>
    {$head}
    {$custom_js}
    <body class="{$bodyclass}">
        <header>
            <div class="wrapper">
                <div class="left">
                    <a class="logo" href="{$home_url}">
                        {if="$logo_url"}<img src="{$logo_url}" /></a>{/if}
                    </a>
                    {$main_navigation}
                </div>
                <div class="right">
                    {$shopping_cart_trigger}
                    <div class="userarea">
                        {$userarea}
                    </div>
                    <a class="more-navigation to-overlay" href="{$more_navigation_url}">
                        <i class="ion-android-menu"></i>
                    </a>
                </div>
            </div>
        </header>
        {$user_checker}
        <div class="content">
            {$body}
        </div>
        {if="$messages"}
        <div class="message-container">
        {loop="$messages"}
            <div class="alert alert-{$value.type}" role="alert">{$value.text}</div>
        {/loop}
        </div>
        {/if}
        <div id="slidein-overlay">
            <a href="javascript://" class="close"></a>
            <div class="loader"></div>
            <div class="content"></div>
        </div>
        <footer>
            <div class="wrapper">
                <div class="row">
                    <a class="logo" href="{$home_url}">
                        {if="$logo_url"}<img src="{$logo_url}" /></a>{/if}
                    </a>
                    <div class="right">
                        {$main_navigation}
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
