<div class="component about-block reveal">
    <div class="wrapper">
        <div class="row">
            <div class="col-lg-6">
                <h2>{$title}</h2>
                <p>{$description}</p>
                <div class="row">
                    <div class="col-lg-6">
                        <p class="discreet">{$f1_title}</p>
                        <h3>{$f1_text}</h3>
                    </div>
                    <div class="col-lg-6">
                        <p class="discreet">{$f2_title}</p>
                        <h3>{$f2_text}</h3>
                    </div>
                </div>
                <a href="{$cta_link}" class="btn btn-primary">{$cta_label}</a>
            </div>
            <div class="col-lg-1">
            </div>
            <div class="col-lg-5">
                {$mc_form}
                <div class="social">
                    <h3>{$social_title}</h3>
                    <ul class="medias">
                        {loop="$social_medias"}
                            <li><a href="{$value.link}" target="_blank" class="icon-circle socicon-{$value.type}"></a></li>
                        {/loop}
                    </li>
                </div>
            </div>
        </div>
    </div>
</div>